.pasisveikinimas {
  text-align: center;
  font-size: 24px;
}

.skaitliukas {
  text-align: center;

  .skaicius {
    font-size: 42px;
    margin: 50px auto 50px;

    &.geras {
      color: #00ff00;
    }

    &.blogas {
      color: #ff0000;
    }
  }

  button {
    border-radius: none;
    border: none;
    background-color: #cfcfcf;
    font-size: 33px;
    padding: 25px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
  }
}

// <div class="a">
//    <div class="b"></div> <-----
// </div>
.a {
  .b {}
}

// <div class="a b"> <-----
// </div>
.a {
  &.b {}
}
